html {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

body {
  width: 500px;
  height: 250px;
  display:flex;
  justify-content: space-between;
}

#mainbody {
  padding-left: 5px;
  padding-right: 5px;
  background-repeat: no-repeat;
  height: 250px;
  width: 500px;
  background-image: url(traktor2.jpg);
  background-position: center;
