.box {
  width:600px;
  margin: 50px auto;
}
header{
  height:80px;
  background-color: #00FFFF;
}
.central-box {
  height:500px;
  display: flex;
  justify-content: space-between;
}
#left-sidebar{
  width:100px;
  background-color: #FEA500;
}
main{
  position: relative;
  width:350px;
  background-color: #FE0000;
}
#right-sidebar{
  width:100px;
  background-color: #81007F;
}
footer{
  height: 80px;
  background-color: #0000FE
}
#fixed{
  position: absolute;
  bottom:20px;
  right:20px;
  height:50px;
  width:50px;
  background-color: #000000;
}
